<table>
    <tbody>
        <tr><th>Distinct</th><td>{{profile.distinct}}</td></tr>
        <tr><th>Missing</th><td>{{profile.null_count}}</td></tr>
        <tr><th>Infinite</th><td>{{profile.infinite}}</td></tr>
        <tr><th>Mean</th><td>{{round(profile.mean, 3)}}</td></tr>
        <tr><th>Min</th><td>{{profile.minimum}}</td></tr>
        <tr><th>Max</th><td>{{profile.maximum}}</td></tr>
        <tr><th>Zeros</th><td>{{profile.zeros}}</td></tr>
        <tr><th>Negative</th><td>{{profile.negative}}</td></tr>
        <tr><th>Range</th><td>{{profile.range}}</td></tr>
    </tbody>
</table>